body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Arial Narrow, Arial;
}
@media (max-width: 860px) {
  body {
    cursor: pointer;
    overflow-x: hidden;
  }
}

.navbar img {
  vertical-align: middle;
}

.ctn-un .ctn-un-inner {
  position: relative;
  top: 250px;
  text-align: center;
}

.col-ctn {
  border: 1px solid black;
  padding: 10px;
}
@media (min-width: 860px) {
  .col-ctn {
    height: 100%;
  }
}

.canvas-ctn {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  position: relative;
  margin: 0 auto;
}
@media (max-width: 860px) {
  .canvas-ctn {
    margin-bottom: 25px;
  }
}
@media (max-width: 1200px) {
  .canvas-ctn {
    width: 100%;
  }
}
@media (min-width: 1201px) and (max-width: 1366px) {
  .canvas-ctn {
    transform: scale(0.8);
  }
}
@media (min-width: 1367px) and (max-width: 1450px) {
  .canvas-ctn {
    transform: scale(0.9);
  }
}
.canvas-ctn .canvas-overlay {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
@media (min-width: 860px) {
  .canvas-ctn .canvas-overlay {
    display: none;
  }
}
.canvas-ctn canvas {
  transform: scale(0.5);
  transform-origin: left top;
}
.canvas-ctn .ctn-btn {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 2;
}
@media (max-width: 860px) {
  .canvas-ctn .ctn-btn {
    transform: scale(0.8);
    transform-origin: right top;
  }
}
@media (min-width: 860px) {
  .canvas-ctn .ctn-btn {
    display: none;
  }
}
@media (min-width: 1201px) and (max-width: 1600px) {
  .canvas-ctn .ind {
    font-size: 12px;
    width: 120px;
    padding: 5px;
    padding-right: 15px;
  }
}
@media (min-width: 1601px) and (max-width: 1800px) {
  .canvas-ctn .ind {
    font-size: 14px;
    width: 160px;
  }
}
.canvas-ctn .ind:focus {
  outline: none !important;
  box-shadow: none !important;
}

img.legend {
  height: 30px;
}
@media (max-width: 860px) {
  img.legend {
    height: 25px;
  }
}

.ind {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  border-radius: 45px;
  display: inline-block;
  color: #fff;
  padding: 15px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 70px;
  padding-right: 25px;
  background: #8d9399;
}
.ind:hover {
  background: black;
}
@media (max-width: 500px) {
  .ind {
    width: 65px;
    height: 15px;
    font-size: 8px;
    padding-right: 15px;
  }
}
@media (max-width: 500px) {
  .ind .icon {
    display: none;
  }
}
@media (min-width: 860px) {
  .ind .ind-text {
    width: 75%;
  }
}

.bar-ctn .ind {
  left: auto;
  right: 0;
  padding-right: 25px;
  height: 100%;
  width: 88%;
}
@media (max-width: 860px) {
  .bar-ctn .ind {
    padding-right: 15px;
    height: 75%;
    font-size: 12px;
  }
}
@media (min-width: 1201px) and (max-width: 1600px) {
  .bar-ctn .ind {
    font-size: 12px;
  }
}
@media (min-width: 1601px) and (max-width: 1800px) {
  .bar-ctn .ind {
    font-size: 14px;
  }
}
.bar-ctn .ind:focus {
  outline: none !important;
  box-shadow: none !important;
}

img.icon {
  height: 35px;
}
@media (min-width: 1201px) and (max-width: 1600px) {
  img.icon {
    height: 20px;
  }
}
img.icon.icon-light {
  filter: invert(100%);
  position: absolute;
  right: 10px;
}

.outer {
  width: 100%;
  font-weight: bold;
}
.outer span {
  padding: 5px;
}
@media (max-width: 860px) {
  .outer span {
    padding: 0;
    font-size: 12px;
  }
}

.inner {
  position: relative;
  margin-top: 1px;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  background: #00aac9;
}
.inner .diff {
  position: absolute;
  top: -25px;
  right: -220px;
}
.inner .diff div {
  position: relative;
  z-index: 1;
  background: #fff;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 35px;
  width: 80px;
  text-align: center;
}
.inner .diff img.arr {
  position: absolute;
  height: 25px;
}
.inner .diff img.arr.arr-top {
  left: -60px;
  top: -6px;
}
.inner .diff img.arr.arr-bottom {
  left: -70px;
  top: 27px;
}

.sec .inner {
  background: #156c9c;
}
.sec .inner .handle {
  cursor: e-resize;
  height: 100%;
  width: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sum-ctn .title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
@media (max-width: 860px) {
  .sum-ctn .title {
    padding-right: 0 !important;
  }
}
@media (max-width: 860px) {
  .sum-ctn .title .h4 {
    font-size: 18px;
  }
}
.sum-ctn .diff-value {
  position: absolute;
  top: 10px;
  left: 25px;
  background: #fff;
  border: 1px solid #000;
  padding: 7px;
  border-radius: 35px;
  width: 70px;
  text-align: center;
}

@media (max-width: 860px) {
  .diff, .diff-value {
    display: none;
  }
}

.diff-mob, .diff-value-mob {
  position: absolute;
}
@media (min-width: 860px) {
  .diff-mob, .diff-value-mob {
    display: none;
  }
}

.diff-mob {
  top: 12px;
  right: 10px;
  height: 40px;
}

.diff-value-mob {
  right: 0;
  bottom: 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.info-outer {
  position: absolute;
  cursor: default;
}

.bs-popover-bottom .arrow::after {
  border-bottom-color: #f7f7f7;
}

.loader-ol {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  z-index: 3;
}

.loader-in {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.loader {
  border: 5px solid #00aac9;
  border-radius: 50%;
  border-top: 5px solid #fff;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup, .popup-mobile {
  position: fixed;
  background: #fff;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-out;
}
.popup.active, .popup-mobile.active {
  transition: opacity 0.1s ease-out;
  opacity: 1;
  z-index: 3;
}

.popup {
  top: 70px;
  left: 50%;
  width: 400px;
  font-size: 1vw;
  padding: 25px;
}
.popup h6 {
  font-size: 1.2vw;
}
@media (max-width: 860px) {
  .popup {
    display: none;
  }
}

.popup-mobile {
  margin-left: 10px;
  left: 0;
  width: 95%;
  transition: opacity 0.3s ease-out;
  font-size: 3.5vw;
  padding: 10px;
}
.popup-mobile h6 {
  font-size: 3.5vw;
}
.popup-mobile.atTop {
  margin-top: 10px;
  top: 0;
  bottom: unset;
}
.popup-mobile.atBottom {
  margin-bottom: 10px;
  bottom: 0;
}
@media (min-width: 860px) {
  .popup-mobile {
    display: none;
  }
}

.modal-body .btn {
  transform: scale(0.8);
}

.popover {
  font-family: Arial Narrow, Arial !important;
}
.popover .popover-header {
  font-weight: bold;
}
