@font-face {
  font-family: "bs-r";
  src: url("../fonts/Brix Sans W01 Regular.ttf") format("truetype");
}
@font-face {
  font-family: "bs-m";
  src: url("../fonts/Brix Sans W01 Medium.ttf") format("truetype");
}
@font-face {
  font-family: "bs-b";
  src: url("../fonts/Brix Sans W01 Bold.ttf") format("truetype");
}
.ctn-foot.back a, .inner .diff, .ind.bar-line, .ind, .legend {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}
@media (max-width: 860px) {
  body {
    cursor: pointer;
    overflow-x: hidden;
  }
}

@media (min-width: 501px) {
  .mobile-only {
    display: none;
  }
}
.mobile-only.row {
  margin: auto -4px;
}

@media (max-width: 500px) {
  .desktop-only {
    display: none;
  }
}

.navbar {
  font-family: "bs-r";
  font-weight: bold;
  background: #000;
  padding-right: 0;
}
.navbar a {
  font-size: 1rem;
}
.navbar img {
  height: 30px;
  vertical-align: middle;
}
@media (min-width: 860px) {
  .navbar img {
    height: 45px;
  }
}

.ctn-un .ctn-un-inner {
  position: relative;
  top: 250px;
  text-align: center;
}

.page-title {
  font-family: "bs-b";
  font-size: 3.5vw;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3vw;
}

.heading {
  font-family: "bs-b";
  font-size: 2vw;
}
@media (max-width: 500px) {
  .heading {
    font-size: 6vw;
    line-height: 1.25;
  }
}

.sub-heading {
  font-family: "bs-m";
  font-size: 1.5vw;
}
@media (max-width: 500px) {
  .sub-heading {
    display: none;
  }
}

.col-ctn {
  padding: 10px;
}
.col-ctn.col-bdr {
  border-right: 5px dotted #8d9399;
}
@media (max-width: 1200px) {
  .col-ctn.col-bdr {
    border-right: none;
  }
}
.col-ctn hr.border-dark {
  width: 85%;
}

@media (max-width: 860px) {
  .ctn-caret {
    display: none;
  }
}

img.caret-up {
  transform: scaleY(-1);
}
@media (min-width: 860px) {
  img.caret-up {
    display: none;
  }
}

.canvas-ctn {
  position: relative;
  margin: 0 auto;
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -o-user-select: none;
  /* Opera */
  user-select: none;
  /* Non-prefixed version */
  -webkit-touch-callout: none;
  /* iOS Safari */
}
@media (max-width: 1200px) {
  .canvas-ctn {
    width: 100%;
  }
}
@media (min-width: 1201px) and (max-width: 1366px) {
  .canvas-ctn {
    transform: scale(0.8);
  }
}
@media (min-width: 1367px) and (max-width: 1600px) {
  .canvas-ctn {
    transform: scale(0.9);
  }
}
.canvas-ctn .canvas-overlay {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
@media (min-width: 860px) {
  .canvas-ctn .canvas-overlay {
    display: none;
  }
}
.canvas-ctn canvas {
  transform: scale(0.5);
  transform-origin: left top;
}
.canvas-ctn .ctn-btn {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 860px) {
  .canvas-ctn .ctn-btn {
    display: none;
  }
}

.legend {
  justify-content: flex-start;
  padding-left: 2.5vw;
  font-family: "bs-r";
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .legend {
    padding-left: 0;
  }
}
.legend .legend-ind {
  height: 15px;
  width: 15px;
  background: #000;
  border-radius: 50%;
}
.legend .legend-ind:nth-of-type(1) {
  background: #73b657;
}
.legend .legend-ind:nth-of-type(2) {
  background: #166c9d;
}

.ind {
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-family: "bs-m";
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  color: #000;
  padding: 10px;
  transition: all 0.3s;
  text-align: left;
  background: #ced2d5;
}
.ind:hover {
  background: #8d9399;
}
@media (max-width: 500px) {
  .ind {
    background: transparent;
    font-size: 12px;
    padding: 0;
    flex-direction: column;
  }
}
.ind:focus {
  outline: none !important;
  box-shadow: none !important;
}
.ind .ind-text:focus {
  outline: none !important;
  box-shadow: none !important;
}
.ind.bar-line {
  position: relative;
  width: auto;
  padding: 0;
  background: #fff;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .ind.bar-line {
    font-size: 16px;
    flex-direction: row;
  }
}
.ind.bar-line .ind-text {
  text-align: right;
}

img.icon {
  height: 20px;
  margin-left: 15px;
}
@media (min-width: 1201px) and (max-width: 1600px) {
  img.icon {
    height: 20px;
  }
}
@media (max-width: 500px) {
  img.icon {
    height: 10px;
    margin-left: 0;
  }
}

.spacer {
  height: 5vh;
}

.bar-ctn {
  padding: 0;
}

.outer {
  width: 100%;
  font-family: "bs-m";
  font-weight: bold;
}
.outer .pr {
  position: relative;
  z-index: 2;
}
.outer span {
  padding: 5px;
  background: #fff;
}
@media (max-width: 500px) {
  .outer span {
    padding: 0;
    font-size: 14px;
    margin-left: 5px;
  }
}

.inner {
  position: relative;
  margin-top: 1px;
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  background: #73b657;
}
.inner .diff {
  position: absolute;
  top: -17px;
  right: -240px;
  font-family: "bs-m";
  font-weight: bold;
}
@media (max-width: 500px) {
  .inner .diff {
    top: -15px;
    right: -100px;
  }
}
.inner .diff div {
  position: relative;
  top: 12px;
  z-index: 1;
  margin-left: 25px;
  font-size: 20px;
  width: 80px;
}
@media (max-width: 500px) {
  .inner .diff div {
    display: none;
  }
}

.sec .inner {
  background: #166c9d;
}
.sec .inner .handle {
  cursor: e-resize;
  height: 100%;
  width: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.sec .inner .handle img {
  position: relative;
  left: 7px;
}

hr.border-dark {
  border-width: 2px;
}

.sum-ctn .title {
  padding: 0;
}
@media (max-width: 1600px) {
  .sum-ctn .title .ind.bar-line {
    align-items: flex-end;
    flex-direction: column-reverse;
  }
}
.sum-ctn .diff-value {
  background: #ced2d5;
  padding: 5px;
  margin-right: 35px;
}
@media (max-width: 1600px) {
  .sum-ctn .diff-value {
    margin-right: 0;
    margin-top: 10px;
  }
}
.sum-ctn .outer span {
  font-family: "bs-m";
  font-weight: bold;
}

@media (max-width: 860px) {
  .diff, .diff-value {
    display: none;
  }
}

.info-outer {
  position: absolute;
  cursor: default;
}

.ctn-foot {
  background: #ced2d5;
  padding: 15px;
  font-family: "bs-r";
  font-size: 20px;
  font-weight: bold;
}
.ctn-foot.back {
  padding: 0;
  height: auto;
  background: #000;
  font-size: 16px;
}
@media (max-width: 500px) {
  .ctn-foot.back {
    font-size: 12px;
    height: 50px;
    width: 50%;
  }
}
.ctn-foot.back a {
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
}
.ctn-foot.back img {
  margin-right: 15px;
}
.ctn-foot.text {
  padding-left: 5vw;
}
@media (max-width: 500px) {
  .ctn-foot.text span {
    font-size: 16px;
  }
}
.ctn-foot.text span:nth-of-type(1) {
  margin-right: 3vw;
}

.loader-ol {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  z-index: 3;
}

.loader-in {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.loader {
  border: 5px solid #73b657;
  border-radius: 50%;
  border-top: 5px solid #fff;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btn-enable, .btn-done {
  font-family: "bs-m";
  color: #fff;
  border-radius: 0;
}
.btn-enable img, .btn-done img {
  height: 16px;
  margin-left: 8px;
  vertical-align: sub;
}
.btn-enable:focus, .btn-done:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-enable {
  background: #f5a241;
}

.btn-done {
  background: #41bbd4;
}

.popup, .popup-mobile {
  position: fixed;
  background: #dee0e3;
  font-family: "bs-r";
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-out;
}
.popup.active, .popup-mobile.active {
  transition: opacity 0.1s ease-out;
  opacity: 1;
  z-index: 3;
}
.popup h6, .popup-mobile h6 {
  background: #dee0e3;
  font-family: "bs-m";
  font-weight: bold;
}

.popup {
  top: 70px;
  left: 50%;
  width: 400px;
  font-size: 1vw;
  padding: 25px;
}
.popup h6 {
  font-size: 1.2vw;
}
@media (max-width: 860px) {
  .popup {
    display: none;
  }
}

.popup-mobile {
  margin-left: 10px;
  left: 0;
  width: 95%;
  transition: opacity 0.3s ease-out;
  font-size: 3.5vw;
  padding: 10px;
}
.popup-mobile h6 {
  font-size: 3.5vw;
}
.popup-mobile.atTop {
  margin-top: 10px;
  top: 0;
  bottom: unset;
}
.popup-mobile.atBottom {
  margin-bottom: 10px;
  bottom: 0;
}
@media (min-width: 860px) {
  .popup-mobile {
    display: none;
  }
}

.modal-body {
  font-family: "bs-r";
  font-weight: bold;
}
.modal-body h2 {
  text-decoration: underline;
  font-family: "bs-m";
  font-weight: bold;
  font-size: 6.5vw;
}
.modal-body .btn {
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
}
.modal-body .btn img {
  margin-left: 5px;
  height: 12px;
}

.popover {
  border: none;
  border-radius: 0;
}
.popover h6 {
  background: #dee0e3;
  font-family: "bs-m";
  font-weight: bold;
  font-size: 1.2vw;
}
@media (max-width: 500px) {
  .popover h6 {
    font-size: 3.2vw;
  }
}
.popover .popover-body {
  background: #dee0e3;
  font-family: "bs-r";
  font-weight: bold;
  font-size: 1vw;
}
@media (max-width: 500px) {
  .popover .popover-body {
    font-size: 3vw;
    padding: 5px;
  }
}
@media (max-width: 500px) {
  .popover .popover-body ul {
    margin-bottom: 0;
  }
}
.popover.bs-popover-bottom .arrow::before, .popover.bs-popover-bottom .arrow::after {
  border-bottom-color: #dee0e3;
}

/*# sourceMappingURL=style.css.map */
