body { 
  overflow-x: hidden;
  overflow-y: auto;
  // font-family: Arial Narrow, Arial;
  @include media('<=tab-mob') {
    cursor: pointer;
    overflow-x: hidden;    
  }
}

.mobile-only{
	@include media('>=mob') {
    display: none;
	}
	&.row{
		margin: auto -4px;		
	}
}

.desktop-only{
	@include media('<=mob') {
    display: none;
  }
}

.navbar{
	font-family: $bs-r;
	font-weight: bold;
	background: $b;
	padding-right: 0;
	@include media('>=tab-mob') {
    display: none;
	}
	a{ font-size: 1rem; }
	img{ vertical-align: middle; }
}

.ctn-un{
  .ctn-un-inner{
    position: relative;
    top: 250px;
    text-align: center;
  }
}

.page-title{
	font-family: $bs-b;
	font-size: 3.5vw;
	@include media('<=mob') {
    display: none;
  }
}
.heading{
	font-family: $bs-b;
	font-size: 2vw;
	@include media('<=mob') {
		font-size: 6vw;
		line-height: 1.25;
  }
}
.sub-heading{
	font-family: $bs-m;
	font-size: 1.5vw;
	@include media('<=mob') {
		display: none;
  }
}

.col-ctn{
	padding: 10px;
	&.col-bdr{
		border-right: 5px dotted $ind;
		@include media('<=sd') {
			border-right: none;
		}
	}
	hr.border-dark{
		width: 85%;
	}
}
.ctn-caret{
	@include media('<=tab-mob') {
		display: none;
	}
}
img.caret-up{
	@include media('>=tab-mob') {
		display: none;
	}
	transform: scaleY(-1);
}

.canvas-ctn{
  // @include media('<=tab-mob') {
  //   margin-bottom: 25px;
  // }
  @include media('<=sd') {
    width: 100%;
  }
  @include media('>sd', '<=lp') {
    transform: scale(0.8);
  }
  @include media('>lp', '<=md') {
    transform: scale(0.9);
  }
  position: relative;  
	margin: 0 auto;
	@include prefixed(user-select, none);
	-webkit-touch-callout: none; /* iOS Safari */    	
  .canvas-overlay{
    background: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    @include media('>=tab-mob') {
      display: none;
    }
  }
  canvas{
    transform: scale(.5);
    transform-origin: left top;
  }
  .ctn-btn{
		position: relative;
		z-index: 2;
		text-align: center;
    margin-top: 20px;
    @include media('>=tab-mob') {
      display: none;
    }
	}
}
.legend{
	@extend %j-c;
	justify-content: flex-start;
	padding-left: 2.5vw;
	font-family: $bs-r;
	font-size: 18px;
	font-weight: bold;
	@include media('<=mob') {
		padding-left: 0;
	}
	.legend-ind{
		height: 15px;
		width: 15px;			
		background: $b;
		border-radius: 50%;
		&:nth-of-type(1){ background: $pr; }
		&:nth-of-type(2){ background: $sc; }
	}
}

.ind{
	@extend %j-c;
	align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
	font-family: $bs-m;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  color: $b;
  padding: 10px;
  transition: all .3s;
  text-align: left;
  background: $ind-bg;	
  &:hover{
    background: $ind;
  }  
  @include media('<=mob') {
  	background: $tr;	
		font-size: 12px;
		padding: 0;
		flex-direction: column;
	}
	&:focus{
		outline: none !important;
		box-shadow: none !important;
	}
	.ind-text{
		&:focus{
			outline: none !important;
			box-shadow: none !important;
		}
	}
	&.bar-line{
		@extend %j-c;
		position: relative;
		width: auto;
		padding: 0;
		background: $w;
		justify-content: flex-end;	
		@include media('<=mob') {
			font-size: 16px;
			flex-direction: row;
		}			
		.ind-text{
			text-align: right;
		}
	}
}
img.icon{
	height: 20px;
	margin-left: 15px;
	@include media('>sd', '<=md') {
		height: 20px;
	}	  
	@include media('<=mob') {
		height: 10px;		
		margin-left: 0;
	}
}

.spacer{
	height: 5vh;
}

.bar-ctn{
	padding: 0;
}

.outer{
	width: $full;
	font-family: $bs-m;
	font-weight: bold;
	.pr{
		position: relative;
    z-index: 2;
	}
  span{
		padding: 5px;
		background: $w;
    // @include media('<=tab-mob') {
		// 	font-size: 12px;
    // }
    @include media('<=mob') {
			padding: 0;
			font-size: 14px;
    	margin-left: 5px;
    }
  }
}

.inner{
  position: relative;
  margin-top: 1px;
  display: inline-block;
  vertical-align: middle;
  // padding: 5px;
  height: 25px;
  background: $pr;
  .diff{
		@extend %j-c;
    position: absolute;
    top: -17px;
		right: -240px;
		font-family: $bs-m;
		font-weight: bold;
		@include media('<=mob') {
			top: -15px;
    	right: -100px;
		}
    div{
			position: relative;
			top: -2px;
			z-index: 1;
			margin-left: 25px;
			font-size: 20px;
			width: 80px;
			@include media('<=mob') {
				display: none;
			}			
    }
  }
}

.sec{
  .inner{
    background: rgba($sc, 1);  
    .handle{
      cursor: e-resize;
      height: 100%;
      width: 10px;
      position:absolute;
      top:0;
			right:0; 
			img{
				position: relative;
				left: 7px;
			}
    }
  }
}

hr.border-dark{
	border-width: 2px;
}

.sum-ctn{
  .title{ 
		padding: 0; 
		.ind.bar-line{
			@include media('<=md') {
				align-items: flex-end;
				flex-direction: column-reverse;
			}	
		}
	}
  .diff-value{
		background: $ind-bg;
		padding: 5px;
		margin-right: 35px;
		@include media('<=md') {
			margin-right: 0;
			margin-top: 10px;
		}	
	}  
	.outer span{
		font-family: $bs-m;
		font-weight: bold;
	}
}

.diff, .diff-value{
  @include media('<=tab-mob') {
    display: none;
  }
}

.info-outer{
  position: absolute;
  cursor: default;
}

.ctn-foot{
	&.back{
		padding: 0;
		height: auto;
		background: $b;
		font-size: 16px;
		@include media('<=mob') {				
			font-size: 12px;
			height: 50px;
    	width: 50%;
		}	
		a{ 
			@extend %j-c;
			color: $w;
			text-decoration: none;
			height: 100%;
			width: 100%;	
		}
		img{ margin-right: 15px; }
	}
	&.text{
		span{
			@include media('<=mob') {
				font-size: 16px;	
			}			
		}
		span:nth-of-type(1){
			margin-right: 3vw;
		}
		padding-left: 5vw;
	}
	background: $ind-bg;
	padding: 15px;
	font-family: $bs-r;
	font-size: 20px;
	font-weight: bold;
}

.loader-ol{
  background: $w;
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  z-index: 3;
}

.loader-in{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.loader {
  border: 5px solid $pr;
  border-radius: 50%;
  border-top: 5px solid $w;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-enable, .btn-done{
	font-family: $bs-m;
	color: $w;
	border-radius: 0;
	img{
		height: 16px;
    margin-left: 8px;
    vertical-align: sub;
	}
	&:focus{
		outline: none !important;
		box-shadow: none !important;
	}
}

.btn-enable{ background: $btn-en; }
.btn-done{ background: $btn-dn; }

.popup, .popup-mobile{
	position: fixed;
	background: $pop-bg;
	font-family: $bs-r;
	font-weight: bold;
	font-size: 18px;
  box-shadow: 0 0 7px 2px rgba(#000, .2);
  border-radius: 5px;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s ease-out;
  &.active{
    transition: opacity .1s ease-out;
    opacity: 1;
    z-index: 3;
	}
	h6{
		background: $pop-bg;
		font-family: $bs-m;
		font-weight: bold;
		// font-size: 1.5vw;
	}
}

.popup{  
  top: 70px;
  left: 50%;
  width: 400px;  
  font-size: 1vw;
  padding: 25px;
  h6{
    font-size: 1.2vw;
  }
  @include media("<=tab-mob"){
    display: none;
  }
}

.popup-mobile{  
  margin-left: 10px;
  left: 0;
  width: 95%;
  transition: opacity .3s ease-out;
  font-size: 3.5vw;
  padding: 10px;
  h6{
    font-size: 3.5vw;
  }
  &.atTop{
    margin-top: 10px;
    top: 0;
    bottom: unset;
  }
  &.atBottom{
    margin-bottom: 10px;
    bottom: 0;    
  }
  @include media(">=tab-mob"){
    display: none;
  }
}

.modal-body {
	font-family: $bs-r;
	font-weight: bold;
	h2{
		text-decoration: underline;
		font-family: $bs-m;
		font-weight: bold;
		font-size: 6.5vw;
	}
	.btn{
		font-size: 10px;
		display: inline-block;
		vertical-align: top;
		img{
			margin-left: 5px;
    	height: 12px;
		}
	}
}

.popover{  
	border: none;
	border-radius: 0;
	// .popover-header {
	h6 {
		background: $pop-bg;
		font-family: $bs-m;
		font-weight: bold;
		font-size: 1.2vw;
		@include media('<=mob') {
			font-size: 3.2vw;
		}
  }
	.popover-body {
		background: $pop-bg;
		font-family: $bs-r;
		font-weight: bold;
		font-size: 1vw;
		@include media('<=mob') {
			font-size: 3vw;
			padding: 5px;
		}
		ul{
			@include media('<=mob') {
				margin-bottom: 0;
			}	
		}
	}
	&.bs-popover-bottom{
		.arrow::before, .arrow::after{
			border-bottom-color: $pop-bg;
		}
	} 
}