<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dynamic Product Cost Configurator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="apple-touch-icon-precomposed" href="img/CostOptimizerAppLogo-152.png">
    <link rel="apple-touch-icon" href="img/CostOptimizerAppLogo-152.png">
  </head>
  <body 
    ng-controller="ctrl"
    ng-style="{
      'overflow' : s.overlay ? 'hidden' : 'auto'
    }"
  >
    <div class="loader-ol h-100 w-100" ng-show="showLoader">
      <div class="loader-in">
        <div class="loader"></div>
      </div>
    </div>

    <nav class="navbar navbar-dark">
			<a class="navbar-brand mr-0" href="#" onclick="window.location.reload(true);">
				<div class="mobile-only">
					<img src="img/logo1.png" />&nbsp;&nbsp;{{ 'nav_title' | translate }}
				</div>
				<div class="desktop-only">
					<img src="img/logo1.png" />
					<div class="page-title text-center">{{ 'page_title' | translate }}</div>
				</div>
      </a>
    </nav>

    <div class="container-fluid" ng-show="isSupported" ng-cloak>
			<div class="row">
        <div class="col-xl-6 px-md-2 p-1">
					<div class="ctn-caret text-center"><img src="img/caret-down.png" alt=""></div>
          <div class="col-ctn mb-3 mb-md-0 col-bdr">            
            <div class="heading text-center">{{ 'heading1' | translate}}</div>
						<div class="sub-heading text-center">{{ 'sub_heading1' | translate }}</div>
						<div class="canvas-ctn">
							<div class="canvas-overlay" ng-hide="s.overlay"></div>
							<div class="ctn-btn">
								<button class="btn btn-enable btn-sm" ng-hide="s.overlay" ng-click="s.overlay = true;">
									{{ 'btn_enable' | translate }}<img src="img/icon-enable.jpg" alt="" />
								</button>
								<button class="btn btn-done btn-sm" ng-show="s.overlay" ng-click="s.overlay = false;">
									{{ 'btn_done' | translate }}<img src="img/icon-done.jpg" alt="" />
								</button>
							</div>
						</div>
						<div class="legend">
							<div class="legend-ind mr-2"></div><span class="mr-4">{{ 'legend_orig' | translate }}</span>
							<div class="legend-ind mr-2"></div><span>{{ 'legend_targ' | translate }}</span>
						</div>
					</div>    
					<div class="row mobile-only">
						<div class="ctn-foot back col-md-2">
							<a href="{{ 'footer_link' | translate }}" onclick="window.location.reload(true);">
								<img src="img/return.jpg" alt="">{{ 'footer_text1' | translate }}
							</a>
						</div>
						<div class="ctn-foot text col-md-10">
							<span>{{ 'footer_text2' | translate }}</span>
						</div>
					</div>
        </div>
        <div class="col-xl-6 px-md-2 p-1">
					<div class="text-center">
						<img class="caret-up" src="img/caret-down.png" alt="">
					</div>
					<div class="text-center">
						<img class="caret-down" src="img/caret-down.png" alt="">
					</div>
          <div class="col-ctn">
            <div class="heading text-center">{{ 'heading2' | translate }}<sup>1)</sup></div>
            <div class="sub-heading text-center">{{ 'sub_heading2' | translate }}</div>
						<div class="spacer"></div>
						<div class="row mb-2 mr-0 align-items-center" ng-repeat="d in networkData track by $index">
              <div class="col-md-3 col-4 bar-ctn">
                <div class="ind bar-line">
									<div 
										class="ind-text"
										tabindex="0" 
										data-toggle="popover" 
										data-id="{{d.id}}" 
										ng-bind-html="d.key | trustedHTML"
										></div>
										<!-- title="{{d.pop_key ? d.pop_key : d.key | noHyphen}}"  -->
                </div>
              </div>
              <div class="col-md-9 col-8">
                <div class="outer">                
                  <div>              
                    <div class="inner" ng-style="{'width': (d.amount*100)/currDivider + '%'}"></div>
                    <span>{{ d.amount | currency:"":0 }}</span>
                  </div>
                  <div class="sec">                   
                    <div class="inner" ng-style="{'width': (networkDataSec[$index].amount*100)/currDivider + '%'}">
                      <div class="handle"><img src="img/handle.jpg" alt=""></div>
                    </div>
                    <span>{{ networkDataSec[$index].amount | currency:"":0 }}</span>
                  </div>
                </div>
              </div>
						</div>
						<hr class="border-dark">
            <div class="row mr-0 sum-ctn align-items-center">
              <div class="col-md-3 col-4 title">
								<div class="ind bar-line">
									<div class="diff-value">{{ newSum - sum | currency:"":0 }}</div>
									<div class="ind-text">
										{{ 'total' | translate }}
										<div class="mobile-only">{{ newSum - sum | currency:"":0 }}</div>
										<div class="mobile-only">( {{ (((newSum - sum)/sum)*100).toFixed(2) }}% )</div>
									</div>
								</div>
              </div>
              <div class="col-md-9 col-8">
                <div class="outer">
                  <div class="pr">
                    <div class="inner" ng-style="{'width': (sum*100)/22000 + '%'}" ></div>
                    <span>{{ sum | currency:"":0 }}</span>
                  </div>
                  <div class="sec">
                    <div class="inner" ng-style="{'width': (newSum*100)/22000 + '%'}">
                      <div class="diff">
                        <img src="img/arr.png" />
                        <div>{{ (((newSum - sum)/sum)*100).toFixed(2) }}%</div>
                      </div>
                    </div>
                    <span>{{ newSum | currency:"":0 }}</span>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
			<div class="row">
				<div class="ctn-foot back col-md-2">
					<a href="{{ 'footer_link' | translate }}" onclick="window.location.reload(true);">
						<img src="img/return.jpg" alt="">{{ 'footer_text1' | translate }}
					</a>
				</div>
				<div class="ctn-foot text col-md-10">
					<span class="desktop-only">{{ 'footer_text2' | translate }}</span>
					<span class="d-inline-block">{{ 'footer_text3' | translate }}</span>
				</div>
			</div>
		</div>
    <div class="container-fluid p-md-4 ctn-un h-100" ng-show="!isSupported" ng-cloak>
      <div class="ctn-un-inner">        
        <h1>Your browser is unsupported.</h1>
        <p>Please use a supported browser to view the visualizer.</p>
        <img src="img/supported.jpg" usemap="#image-map" />
				<map name="image-map">
					<area alt="Microsoft Edge" title="Microsoft Edge" href="https://www.microsoft.com/de-de/windows/microsoft-edge" coords="166,140,0,0" shape="rect">
					<area alt="Google Chrome" title="Google Chrome" href="https://www.google.com/chrome/" coords="189,0,358,137" shape="rect">
					<area alt="Apple Safari" title="Apple Safari" href="https://support.apple.com/downloads/safari" coords="558,140,395,0" shape="rect">
					<area alt="Mozilla Firefox" title="Mozilla Firefox" href="https://www.mozilla.org" coords="588,0,739,140" shape="rect">
				</map>
      </div>
    </div>

    <ng-include ng-hide="true" src="popoverFile"></ng-include>              
    
    <div class="popup" 
      ng-class="{ 'active' : showPopup }"
      ng-style="{ 
        'transform' : popupPos === 'right'? 'translateX(0%)' : 'translateX(-100%)'
      }"
    >
      <div ng-bind-html="popupContent | trustedHTML"></div>
    </div>

    <div class="popup-mobile" 
      ng-class="{ 
        'active' : showPopup, 
        'atTop': popupPos === 'top',
        'atBottom': popupPos === 'bottom' 
      }"      
    >
      <div ng-bind-html="popupContent | trustedHTML"></div>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
						<h2 class="text-center">{{ 'modal_title' | translate }}</h2>
						<div class="row mt-3">
							<div class="col-2 pr-0"><img src="img/1.png" alt=""></div>
							<div class="col-10 pl-0">
								{{ 'modal_ins1_1' | translate }}
								<button class="btn btn-enable btn-sm">{{ 'btn_enable' | translate }}<img src="img/icon-enable.jpg" alt="" /></button>
								{{ 'modal_ins1_2' | translate }}								
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-2 pr-0"><img src="img/2.png" alt=""></div>
							<div class="col-10 pl-0">
								{{ 'modal_ins2_1' | translate }}
								<button class="btn btn-done btn-sm">{{ 'btn_done' | translate }}<img src="img/icon-done.jpg" alt="" /></button>
								{{ 'modal_ins2_2' | translate }}
							</div>
						</div>
            <!-- <p><h6><i>Note: Scrolling is disabled while editing.</i></h6></p> -->
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/pixi.min.js"></script>
    <script src="js/webfontloader.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-translate.min.js"></script>
		<script src="js/angular-translate-loader-static-files.js"></script>
    <script src="js/angular-locale_de-de.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
  </body>
</html>