<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dynamischer Produktkostenkonfigurator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link rel="apple-touch-icon-precomposed" href="img/CostOptimizerAppLogo-152.png">
    <link rel="apple-touch-icon" href="img/CostOptimizerAppLogo-152.png">
  </head>
  <body 
    ng-controller="ctrl"
    ng-style="{
      'overflow' : s.overlay ? 'hidden' : 'auto'
    }"
  >
    <div class="loader-ol h-100 w-100" ng-show="showLoader">
      <div class="loader-in">
        <div class="loader"></div>
      </div>
    </div>

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand mr-0" href="#" onclick="window.location.reload(true);">
        <img src="img/logo1.png" height="30" />  Dynamischer Produktkostenkonfigurator
      </a>
    </nav>

    <div class="container-fluid p-md-4" ng-show="isSupported" ng-cloak>
      <div class="row">
        <div class="col-xl-6 px-md-2 p-1">
          <div class="col-ctn mb-3 mb-md-0">            
            <h4>Eigenschaften im Ist-<br/>und Zielzustand</h4>
            <hr class="border-dark">
            <img class="legend" src="img/legend-new2_de.png"/>          
            <div class="canvas-ctn">
              <div class="canvas-overlay" ng-hide="s.overlay"></div>
              <div class="ctn-btn">
                <button class="btn btn-info btn-sm" ng-hide="s.overlay" ng-click="s.overlay = true;">Editieren aktivieren</button>
                <button class="btn btn-success btn-sm" ng-show="s.overlay" ng-click="s.overlay = false;">Fertig</button>
              </div>
            </div>             
            <h6>Die geringstm&ouml;gliche Eigenschaftsausprägung entspricht der Eigenschaft des Minimum Viable Product (MVP).</h6>
          </div>          
        </div>
        <div class="col-xl-6 px-md-2 p-1">
          <div class="col-ctn">
            <h4>Materialkosten im Ist-<br/> und Zielzustand [EUR/Einheit]</h4>
            <hr class="border-dark">          
            <div class="row mb-3 mr-0" ng-repeat="d in networkData track by $index">
              <div class="col-md-3 col-5 bar-ctn">
                <div tabindex="0" class="ind bar-line" title="{{d.key | noHyphen}}" data-toggle="popover" data-id="{{d.id}}">
                  <div class="ind-text">{{ d.key }}</div>
                  <img class='icon icon-light' src='img/info.svg' />
                </div>
              </div>
              <div class="col-md-9 col-7 ">
                <div class="outer">                
                  <div>                    
                    <div class="inner" ng-style="{'width': (d.amount*100)/currDivider + '%'}"></div>
                    <span>{{ d.amount | currency:"":0 }}</span>
                  </div>
                  <div class="sec">                   
                    <div class="inner" ng-style="{'width': (networkDataSec[$index].amount*100)/currDivider + '%'}">
                      <div class="handle">                        
                      </div>
                    </div>
                    <span>{{ networkDataSec[$index].amount | currency:"":0 }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mr-0 sum-ctn">
              <div class="col-md-3 col-5 title">
                <span class="h4">Gesamtsumme</span>
                <div class="diff-value-mob">
                  {{ newSum - sum | currency:"":0 }}
                  <span ng-style="{'color' : newSum>sum?'red':'green'}">
                    ( {{ (((newSum - sum)/sum)*100).toFixed(2) }}% )
                  </span>
                </div>
              </div>
              <div class="col-md-9 col-7">
                <div class="outer">
                  <div>                    
                    <div class="inner" ng-style="{'width': (sum*100)/22000 + '%'}" ></div>
                    <span>{{ sum | currency:"":0 }}</span>
                  </div>
                  <div class="sec">
                    <div class="inner" ng-style="{'width': (newSum*100)/22000 + '%'}">
                      <div class="diff">
                        <div ng-style="{'color' : newSum>sum?'red':'green'}">{{ (((newSum - sum)/sum)*100).toFixed(2) }}%</div>
                        <img class="arr arr-top" src="img/arr-top.png" />
                        <img class="arr arr-bottom" src="img/arr-bottom.png" />
                      </div>
                    </div>
                    <span>{{ newSum | currency:"":0 }}</span>                    
                  </div>
                  <div class="diff-value">{{ newSum - sum | currency:"":0 }}</div>
                  <img class="diff-mob" src="img/arr-mob.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p-md-4 ctn-un h-100" ng-show="!isSupported" ng-cloak>
      <div class="ctn-un-inner">        
        <h1>Your browser is unsupported.</h1>
        <p>Please use a supported browser to view the visualizer.</p>
        <img src="img/supported.jpg" />
      </div>
    </div>

    <ng-include ng-hide="true" src="'popover.html'"></ng-include>              
    
    <div class="popup" 
      ng-class="{ 'active' : showPopup }"
      ng-style="{ 
        'transform' : popupPos === 'right'? 'translateX(0%)' : 'translateX(-100%)'
      }"
    >
      <div ng-bind-html="popupContent | trustedHTML"></div>
    </div>

    <div class="popup-mobile" 
      ng-class="{ 
        'active' : showPopup, 
        'atTop': popupPos === 'top',
        'atBottom': popupPos === 'bottom' 
      }"      
    >
      <div ng-bind-html="popupContent | trustedHTML"></div>
    </div>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p>Bitte klicken Sie auf <button class="btn btn-info btn-sm">Editieren aktivieren</button>
            um die Datenpunkte im Graphen zu verschieben.</p>
            <p>Wenn Sie fertig sind, klicken Sie auf <button class="btn btn-success btn-sm">Fertig</button> 
            , um das Bearbeiten zu beenden.</p>
            <p><h6><i>Notiz: Das Scrollen ist w&auml;hrend des Editierens deaktiviert.</i></h6></p>
          </div>
        </div>
      </div>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/pixi.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_de-de.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
  </body>
</html>